@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<div class="title">
  <span>machine name: @Html.DisplayFor(machine => machine.Name) </span>
</div>

  @if (ViewBag.Error != null)
  {
  <div class="error subtitle">
    <p>@ViewBag.Error</p>
  </div>
  }

  @if (Model.JoinEntities == null)
  {

    <p>no engineers connected to this machine.</p>

  }
  else
  {
    
  <div class="engineers">
    
    <p class="subtitle">assigned engineers:</p>

    @foreach (EngineerMachine engMac in Model.JoinEntities)
    {
    <span class="text">@Html.ActionLink(@engMac.Engineer.First,"Details","Engineer",new { engineerId = engMac.Engineer.EngineerId })
      @Html.ActionLink("unassign engineer","DeleteJoin","Machines",new { id = engMac.EngineerMachineId, machineId = Model.MachineId })</span>
    }
  </div>
  }



<div>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)
    <span class="subtitle">choose an engineer for maintanence</span>

    @Html.DropDownList("Engineers")
    <input type="submit" value="assign" />
  }
</div>

<div>
  @using (Html.BeginForm("Delete","Machines"))
  {
    @Html.HiddenFor(model => model.MachineId)
    <span class="subtitle">delete this machine</span>

    <input type="submit" value="delete" />
  }
</div>

<div>
  @Html.ActionLink("go home","Index","Home")
</div>



