@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<div>
  <span>engineers.</span>
</div>
<div>
  @if (Model != null)
  {
    @using (Html.BeginForm("Edit","Engineers"))
    {
      @Html.HiddenFor(eng => eng.EngineerId)
      <span>first name </span> 
      @Html.EditorFor(eng => eng.First)
      <span>last name </span>
      @Html.EditorFor(eng => eng.Last)
      <input type="submit" value="edit">
    }
  }
  else
  {
    <span class="error">@ViewBag.Error</span>
    @using (Html.BeginForm())
    {
      <span>first name </span> 
      @Html.TextBoxFor(eng => eng.First)
      <span>last name </span>
      @Html.TextBoxFor(eng => eng.Last)
      <input type="submit" value="create">
    }
  }
</div>
<div>
  @Html.ActionLink("go home","Index","Home")
  @Html.ActionLink("add a machine","Create","Machines")
</div>
